*{
    margin: 0;
    padding: 0;
}

main{
   min-height: 90vh;   
   padding-bottom: 2em; 
}

body{
    font-family: 'Open Sans', sans-serif;
    color: #333333;
    height: 100%;
}

.menu {
    font-family: 'Lato', sans-serif;
    background: #333333;
    text-align: center;
    padding: 10px;
    line-height: 1.5;
}

#menu a {
    display: none;
    text-decoration: none;
    padding: 5px 20px;
}

.menu-item {
    display: none;
    text-decoration: none;
    padding: 5px 20px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    max-width: 160px;
    position: relative;
    text-transform: uppercase;
    transition: ease-in .3s;
}

.menu-item:hover{
    color: #00bbbb;
}


main > section {
    display: none;
    padding: 20px 5px;
}


.title{
    text-align: center;
    font-size: 62px;
}

.body-text{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.titleForm{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    padding: 10px;
}

.form{
    margin: 0 auto;
    background: #333333;
    text-align: center;
    width: 25%;
    padding: 20px;
    color: white;
}

input{
    border: none;
    box-shadow: none;
    background: none;
    outline: none;
    color:white;
    padding: 5px;
    margin: 20px;
    font: 16px 'Open Sans', sans-serif;
    border-bottom: 1px solid white;
    transition: .5s ease-in;
}

#infoBox, #errorBox, #loadingBox {
    width: 100%;
    color: white;
    text-align: center;
    padding: 15px;
    transition: .5s ease-in;
}

input[type=text]{
    color: white;
    font: 16px 'Open Sans', sans-serif;
}

input:focus{
    border-color: #00bbbb;
}

input[type=button]{
    border: 1px solid white;
    padding: 10px 25px;
    transition: all .2s ease-in-out;
}

input[type=button]:hover{
    background: #00bbbb;
    border-color: #00bbbb;
    transform: scale(1.1);
    cursor: pointer;
}

#loadingBox {
    background: #7CB3E9;
}
#infoBox {
    background: #393;
}
#errorBox {
    background: #F50;
}

table{
    margin: 0 auto;
    padding: 10px;
}

table th {
    background: #DDD;
    padding: 10px;
}

table td {
    padding: 5px 10px;
    background: #EEE;
}

.secondaryButton{
    text-decoration: none;
    color: #333333;
    padding: 5px 10px;
    transition: all .2s ease-in-out;
}

.secondaryButton:hover{
    cursor: pointer;
}

footer {   
    background: #333333;
    color: white;
    padding: 15px 10px;
    font-size: 0.8em;
    text-align: center;
    position: fixed;   
    bottom: 0;
    right:0;
    left:0;  
}

.notification{
    display: none;
    /* font-size :1.5em;
    float: right;
    color: #ffffff;
    padding: 0.5em 2em 0.5em 2 em;
    margin: 1em;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    border-radius: 3px; */
}

#loggedInUser{
    color: orange;
}

#ads{
    width: 90%;
}

.ad-box{
    text-align: center;
    width:200px;
    background: lightgray;
    border-color: gray;
    border-width: 1px;
    margin: 5px;
    float:left;  
    height: 250px;  
    overflow-y: auto;
}

.ad-title{
    background: black;
    color: white;
    font-size: 1.5em;
}

.ad-date{
    background: black;
    color: white;
    font-size: .8em;
}

.ad-box img{
    margin: 5px;
    height: auto;
    width: auto;
    max-width: 96px;
    max-height: 96px;
}

.ad-control{
    float: right;
    border: 1px;
    background-color: black;
    border-color: white;
    color: orange;
}