<article class="post post-content">
        <p>{{content}}</p>
        <div class="info">
            submitted {{age}} days ago by {{author}}{{#if isAuthor}} | <a href="#/deletecomment/:{{_id}}" class="deleteLink">delete</a>{{/if}}
        </div>
</article>