{{> header}}
<div class="content">
    {{> usermenu}}
    <section id="viewMyPosts">
        <div class="post post-content">
            <h1>Your Posts</h1>
        </div>
        <div class="posts">
            {{>postList}}
        </div>
    </section>
</div>
{{> footer}}